body{
	background-color: #2980b9;
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

#welcome{
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	height: 50px;
	padding: 10px;
	width: 400px;
	border-radius: 15px;
	overflow: hidden;
	transform-origin: bottom;
	-webkit-animation: welcomebox 2s;
	-webkit-animation-timing-function: ease-out;
}

#ex2img{
	float:left;
	margin-right: 30px;
}

h1{
	font-weight: bold;
	font-size: 20px;
	padding-top: 5px;
}

#imgs{
	width: 420px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	-webkit-animation: pictures 2s;
	-webkit-animation-timing-function: ease-out;
	transform-origin: left;


}


@-webkit-keyframes pictures
{
	0% { -webkit-transform: rotateY(90deg) }
25% { -webkit-transform: rotateY(-20deg) }
50% { -webkit-transform: rotateY(15deg) }
75% { -webkit-transform: rotateY(-10deg) }
100% { -webkit-transform: rotate(0deg);}

}

@-webkit-keyframes welcomebox
{
0% { -webkit-transform: rotateX(90deg) }
25% { -webkit-transform: rotateX(-20deg) }
50% { -webkit-transform: rotateX(15deg) }
75% { -webkit-transform: rotateX(-10deg) }
100% { -webkit-transform: rotate(0deg);}
}




.avatar:hover{
	-webkit-transform: scale(1.1)
}

.avatar{
	margin: 0px 8px;
	border-radius: 10px;
	height: 120px;
	width: 120px;
	transition: -webkit-transform 0.2s;
	transform-origin: center center;
}



#welcomeinside{
	-webkit-animation: welcometext 1s;
	transform-origin: left;
	-webkit-animation-timing-function: ease-in;
}


@-webkit-keyframes welcometext
{
0% { -webkit-transform: translateX(-400px) }
100% { -webkit-transform: translateX(0px);}
}