body{
	background-color: #2980b9;
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

section{
	padding: 100px 50px;
	height: 250px;
}

/* EX 1  */

.ball{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 50px
}

.ball1{
	background-color: green;
	transition: -webkit-transform 1s;
}

.ball2{
	background-color: red;
	transition: -webkit-transform 1s;
}
.ball3{
	background-color: yellow;
	transition: -webkit-transform 1s;
}


.start1{
	-webkit-transform: translateX(100px);
}

.start2{
	-webkit-transform: translate(100px, 100px );
}

.start3{
	-webkit-transform: translateY(100px);
}


