body
{
    font-family: Helvetica;
    padding: 1em;
}

li
{
    background-color: #33aafa;
}

.high
{
    background-color: #D43257;
}

.medium
{
    background-color: #ffe92a;
}

.low
{
    background-color: #a9e228;
}

ul.todo
{
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

ul#todo li
{
    padding: 0 0.5em;
    margin: 0;
    width: 500px;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;

    /* this is where the magic happens */
    height: 0;
    
    /* define what to transition and how fast to do it */
     transition: all 0.1s ease-in;
     -webkit-transform: perspective(300px) ,rotateX(90deg);
}

ul#todo li.appear
{
    /* this is where the magic happens */
    height: 1em;
    padding: 0.5em;
    border: 1px solid white;
}

#button-add
{
    color: #6e6e6e;
    border: 1px solid #c3c3c3;
    font-size: 11px;
    text-transform: uppercase;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 2px;
}

