#all{
	background-color: orange;
	-webkit-animation: bganim 1.5s both 2s;
	height: 600px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

@-webkit-keyframes bganim
{
0% { background-color: blue; }
100% { background-color: orange;}

}
#first{
	width: 128px;
	margin-left: auto;
	margin-right: auto;
	clear:right;
	display: block;
	top: -500px;
	-webkit-animation: firstanim 2s both;
}

@-webkit-keyframes firstanim
{
0% { -webkit-transform: translateY(600px)  }
40% { -webkit-transform: translateY(-30px) }
80% { -webkit-transform: translateY(10px) }
85% { -webkit-transform: translateY(10px) }
100% { -webkit-transform: translateY(-500px) }
}

#screen{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}


#cake{
	height:128px;
	-webkit-animation: cakeanim 3s both 2s;
}
#cup{
	-webkit-animation: cupanim 3s both 2s;

}
#beer{
	-webkit-animation: beeranim 3s both 2s;

}


@-webkit-keyframes cakeanim
{
0% { -webkit-transform: translateY(600px)  }
50% { -webkit-transform: translateY(-50px) }
70% { -webkit-transform: translateY(20px) }
100% { -webkit-transform: translateY(0px) }
}

@-webkit-keyframes cupanim
{
0% { -webkit-transform: translateY(600px)  }
40% { -webkit-transform: translateY(-40px) }
70% { -webkit-transform: translateY(10px) }
100% { -webkit-transform: translateY(0px) }
}

@-webkit-keyframes beeranim
{
0% { -webkit-transform: translateY(600px)  }
45% { -webkit-transform: translateY(-30px) }
70% { -webkit-transform: translateY(15px) }
100% { -webkit-transform: translateY(0px) }
}