body{
	color: white;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
		text-align: center;

}

#container{
	background-color: #e67e22;
	width: 350px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
}

#time{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 40px 0 100px 0;
}

#icoon{
	margin-bottom: 50px;
}

#weer{
	font-size: 25px;
}

#temperatuur{
	font-size: 25px;
	margin: 20px 0;
}